#colophon {
	padding-top: 50px;
	background: white;

  .footer-container {
		.footer-logo {
			height: 2.5rem;
			width: fit-content;
			margin-bottom: 1rem;
		}
		.slogan {
			width: 80%;
			margin-bottom: .5rem;
		}
		.copy-right {
			margin-bottom: 2rem;
			font-size: .6rem;
		}
    .footer-title{
      padding-bottom: 20px;
			font-size: 1.6rem;
			color: black;
    }
    // max-width: 1140px;
    margin: 0 auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin : 0;
        padding-top: 5px;
				width: fit-content;
      }
    }
    a:not(.fab){
			width: fit-content;
      padding-top: 10px;
      color: black;
			font-size: 1rem;
      font-weight: 300;	
      line-height: 28px;
      transition: all .2s linear;
			position: relative;
			&:before, &:after {
				content: '';
				position: absolute;
				width: 0%;
				height: 1px;
				top: 110%;
				background: black;
			}
			:before {
				left: -2.5px;
			}
			:after {
				right: 2.5px;
				background: black;
				transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
			}
      &:hover{
        opacity: .8;
				text-decoration: none;
				&:before {
					background: black;
					width: 100%;
					transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
				}
				&:after {
					background: transparent;
					width: 100%;
					transition: 0s;
				}
      }
    }
  }

  .address {
    max-width: 300px;
    cursor: pointer;
  }

  //copyright
  .copyright {
    padding-top: 20px;
    background: #242424;
    .copy-right {
      font-weight: 300;	
      line-height: 23px;
      color: white;
    }
    .logo-footer {
      color: white;
			font-size: 70px;
			display: flex;
			justify-content: center;
			img {
				height: 55px;
				object-fit: contain;
			}
    }
    #agency {
      color: white;
      font-size: 16px;	
      font-weight: 300;	
      line-height: 23px;
      a{
        color: white;
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  ///instagram feed
  #sbi_load {
    display: none;
  }
  .widgettitle {
    display: none;
  }

  //social
  .webbiz-social-function{
    margin-top: 30px;
    a {
      margin-right: 15px;
      font-size: 1.4rem;
			color: black;
			&:hover {
				text-decoration: none;
				opacity: .6;
			}
    }
  }
  a.follow-us {
    font-family: $font__main;
    font-size: 28px;	
    line-height: 34px;
    i {
      font-size: 40px;
      margin-right: 20px;
      margin-bottom: 30px;
    }
  }
}

.copy-right {
	font-size: 15px;
}
