.mobile-menu-container {
  background: #eeddd3;
  position: fixed;
  top: 0;
  left: 0;
  width: 70rem;
  height: 100%;
  padding-top: 100px;
  z-index: 900;
  padding-left: 8rem;
  padding-right: 15px;
  transition: all .4s linear;
  opacity: 0;
	transform: translateX(-100%);
	display: flex;
	// justify-content: center;
	align-items: center;

  &.active {
    opacity: 1;
		transform: translateX(24.5rem);
  }
}

#mobile-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
	li {
		padding-bottom: 2rem;
		a {
			font-size: 2rem;
			color: white !important;
			opacity: .8;
			&:hover {
				opacity: 1;
				text-decoration: none;
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
  ul.sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
		
		li {
			padding-bottom: 2rem;
			a {
				font-size: 2rem;
				color: white !important;
				opacity: .8;
				&:hover {
					opacity: 1;
					text-decoration: none;
				}
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
  }
}
