.mobile-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 40rem;
  height: 100%;
  z-index: -1;
  transition: all .5s linear;
  opacity: 0;
	transform: translateX(-100%);

  &.active {
    opacity: 1;
		transform: translateX(15rem);
  }
}

#mobile-menu {
	background-color: #4c0c13;
	padding-top: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  transition: all .4s linear;
	left: 0rem;
	padding-left: 3rem;
  padding-top: 3rem;
	height: 100%;
	border-left: solid .5px white;
	width: 40%;
  padding-left: 5rem;
	z-index: 1;
	li {
		padding-bottom: 2rem;
		width: fit-content;
		a {
			font-size: 1rem;
			color: white !important;
			opacity: .8;
			display: flex;
			align-items: center;
			font-weight: 300;
			position: relative;
			&:before, &:after {
				content: '';
				position: absolute;
				width: 0%;
				height: 1px;
				top: 110%;
				background: white;
			}
			:before {
				left: -2.5px;
			}
			:after {
				right: 2.5px;
				background: white;
				transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
			}
			&:hover {
				opacity: 1;
				text-decoration: none;
				&:before {
					background: white;
					width: 100%;
					transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
				}
				&:after {
					background: transparent;
					width: 100%;
					transition: 0s;
				}
			}
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
  ul.sub-menu {
		position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
		right: 0;
    opacity: 1;
    transition: all .2s linear;
		width: 150%;
		transform: translateX(-5%);
    opacity: 0;
    background-color: #4c0c13;
		transition: all .4s linear;
		z-index: -1;
		padding-left: 5rem;
		padding-top: 3rem;
		height: 100%;
		border-left: solid .5px white;
		li {
			padding-bottom: 1rem;
		}
    &.active {
			transform: translateX(100%);
			opacity: 1;
			z-index: -1;
    }
  }
}

.arrow-icon-left-side {
	transform: rotate(-180deg);
}
.menu-arrow-left {
	position: relative;
	left: -10px;
	opacity: 1 !important;
}
