article.product {
	margin: 2rem 0;
	border-bottom: 1px solid black;
	padding-bottom: 2rem;
	header {
		// align-items: center;
		@include change(992px) {
			flex-direction: column;
			flex-wrap: wrap;
		}
		.thumbnail {
			width: 50%;
			height: 300px;
			@include change(992px) {
				width: 100%;
			}

			.bg {
				height: 15rem;
				object-fit: contain;
				width: auto;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.text {
			width: 50%;
			display: flex;
			flex-direction: column;
			@include change(992px) {
				width: 100%;
			}
			h2 {
				font-size: 25px;
				color: black !important;
				a {
					color: black;
					&:hover {
						opacity: .8;
						text-decoration: none;
					}
	
				}
			}
		}
	}
	.price {
		color: black;
		&:hover {
			opacity: .8;
			text-decoration: none;
		}
	}
}

.navigation.posts-navigation {
	width: 80%;
	margin: auto;
	margin-top: 3rem;
	@include change(992px) {
		width: 100%;
	}
	.nav-previous {
		font-size: 1rem;
		display: inline-block;
		font-weight: 500;
		color: white !important;
		text-align: center;
		border: none;
		font-family: $font__main;
		letter-spacing: .6px;
		opacity: 1;
		transition: all .2s linear;
		background: black;
		width: fit-content;
		padding: 10px 30px;
		a {
			color: white !important;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			opacity: .8;
		}
	}
	.nav-next {
		font-size: 1rem;
		display: inline-block;
		font-weight: 500;
		color: white !important;
		text-align: center;
		border: none;
		font-family: $font__main;
		letter-spacing: .6px;
		opacity: 1;
		transition: all .2s linear;
		background: black;
		width: fit-content;
		padding: 10px 30px;
		a {
			color: white !important;
			&:hover {
				text-decoration: none;
			}
		}
		&:hover {
			opacity: .8;
		}
	}
}

.uppercase {
	text-transform: uppercase;
}

.search-page {
	background: rgba($color: #d85151, $alpha: 0.01);
}
.search-pr-block {
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-bottom: 1px solid black;
	padding-bottom: 4rem;
	display: flex;
	align-items: center;
	@include change(992px) {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.img-link {
		height: 15rem;
		width: 50%;
		display: flex;
		justify-content: center;
		img {
			object-fit: contain;
			width: fit-content;
			height: 15rem;
		}
		@include change(992px) {
			margin-right: auto;
			width: fit-content;
			justify-content: flex-start;
		}
	}

	.text {
		margin-top: 1.5rem;
		width: 50%;
		@include change(992px) {
			width: 100%;
		}
		h2 {
			font-size: 25px;
			color: black !important;
			
			a {
				color: black;
				&:hover {
					opacity: .8;
					text-decoration: none;
				}
			}
		}
		.price {
			padding-top: .5rem;
			padding-bottom: .5rem;
		}
	}
}
