body.mobile-menu-open {
	.frontpage-slider {
		.slick-slider {
			position: relative;
			&:before {
				transition: all .4s linear;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background: white;
				opacity: .2;
				z-index: 1;
				content: '';
			}
		}
	}
}
.frontpage-slider {
	height: 100vh;
	display: flex;
	width: calc(100% - 15rem);
	margin-left: auto;
	margin-right: 0;
	position: absolute;
	top: 0;
	right: 0;
	@include change(768px){
		position: relative;
		width: 100% !important;
	}
	.slick-slider {
		margin-bottom: 0 !important;
		&:before {
			transition: all .4s linear;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: white;
			opacity: 0;
			z-index: -10;
			content: '';
		}
	}
	.slider {
		background-color: #fff1e6;
		// width: calc(100% - 30rem);
		width: 100%;

		.slick-list, .slick-track, .img-slider, .content{
			height: 100%;
			.img-slide {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					height: 100%;
					width: 100%;
					background: black;
					opacity: .3;
					top: 0;
					left: 0;

				}
			}
		}
		.content {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			display: flex;
			padding-left: 10%;
			flex-direction: column;
			justify-content: center;
			
			h1 {
				// text-transform: uppercase;
				font-family: $font__main !important;
				opacity: .8;
				letter-spacing: .5px;
				position: relative;
				width: 85%;
				animation:fadeOutRight 1s both;
				color: white;
				
			}
			.subheading {
				margin-top: 1rem;
				opacity: .8;
				
				animation:fadeOutRight 1s both;
				
				p {
					// font-size: 2rem;
					color: white;
					margin-bottom: 0;
					font-weight: 400;
				}
			}
			&.w {	
				color: white;
			}
			&.r {
				color: red;
			}
			&.b {
				color: black;
			}
		}
		.slick-dots {
			bottom: 3rem;
		}
		.slick-dots {
		 li {
			height: 40px;
			width: 40px;
			button:before {
			font-size: 18px;
			color: white
			}
		}
	}
	}
}


.frontpage-slider .slider .slick-slide.slick-active .content h1 {
	animation:fadeInDown 1s both 1s;
}

.frontpage-slider .slider .slick-slide.slick-active .content .subheading {
	animation:fadeInLeft 1s both 1.5s;
}

@keyframes fadeInLeft {
	0% {
		 opacity: 0;
		 transform: translateX(-20px);
	}
	100% {
		 opacity: 1;
		 transform: translateX(0);
	}
}   

@keyframes fadeOutRight {
	0% {
		 opacity: 1;
		 transform: translateX(0);
	}
	100% {
		 opacity: 0;
		 transform: translateX(20px);
	}
} 

@keyframes fadeInDown {
	0% {
		 opacity: 0;
		 transform: translateY(-20px);
	}
	100% {
		 opacity: 1;
		 transform: translateY(0);
	}
} 

@keyframes fadeOutLeft {
	0% {
		 opacity: 1;
		 transform: translateX(0);
	}
	100% {
		 opacity: 0;
		 transform: translateX(-20px);
	}
} 
