.rinkiniai {
	background-size: cover;
	background-position: center center;
	background-color: #481417;
	.position-relative {
		position: relative;
		height: 30px;
	}
	h2, .subtitle {
		color: white;
		opacity: 1;
		text-transform: uppercase;
		font-weight: 200;
		width: 100%;
		margin: auto;
	}
	.subtitle {
		font-size: 2rem;
		font-weight: 300;
		margin-top: 2rem;
	}
	.block {
		position: relative;
		// flex: 1;
		color: black;
		.content {
			position: absolute;
			bottom: 1rem;
			left: 3rem;
		}
		.rinkinio-img {
			height: 25rem;
			overflow: hidden;
			position: relative;
			border-radius: .6rem;
			&::after {
				position: absolute;
				top: 0; 
				left: 0 ;
				height: 100%;
				width: 100%;
				background: black;
				opacity: .2;
				z-index: -1;
				content: '';
			}
			img {
				object-fit: cover;
				transform: scale(1.1);
				transition: all .2s linear;
				height: 100%;
				width: 100%;
			}
		}
		&:hover {
			cursor: pointer;
			img {
				transform: scale(1);
			}
		}
		h3 {
			color: white;
			opacity: 1;
			font-size: 2rem;
			margin-top: 1rem;
		}	
		a {
			font-weight: 300;
			cursor: pointer;
		}
	}
	.word {
		padding-left: 10px;
		opacity: 0;
		position: absolute;
    left: -2%;
    bottom: 0%;
    font-size: 1.5rem;
		@include change(770px){
			font-size: 1rem;
		}
	}
	.letter {
		min-width: 9px;
		display: inline-block;
		position: relative;
		transform: translateZ(25px);
		transform-origin: 50% 50% 25px;
		@include change(770px){
			min-width: 4px;
		}
	}
	.letter.out {
		transform: rotateY(90deg);
		transition: transform 0.6s cubic-bezier(0.25, 0.025, 0.375, 0.1);
		// transition: transform 0.6s cubic-bezier(0, 0, 1, 1);
	}
	
	.letter.behind {
		transform: rotateY(-90deg);
	}
	
	.letter.in {
		transform: rotateY(0deg);
		transition: transform 0.6s cubic-bezier(0.075, 0.685, 0.12, 0.275);
		// transition: transform 0.6s cubic-bezier(0, 0, 1, 1);
	}
}
