.wishlist-title-container {
	display: none;
}

.wishlist_table .product-add-to-cart a.button {
	padding: 0.4rem 1rem 0.6rem!important;
}

 .wishlist-in-stock {
	 color: black !important;
 }

 .wishlist_table tr td.product-thumbnail a {
	 max-width: 200px;
 }

 .woocommerce-wishlist.woocommerce table.shop_table td.product-name a {
	font-size: 1.5rem;
	line-height: 1.4;
	color: black;
 }
 .wishlist_table .product-add-to-cart span.dateadded {
	display: none;
}

.wishlist_table .product-add-to-cart a.button {
	color: transparent !important;
	position: relative;
}
.wishlist_table .product-add-to-cart a.button:after {
	content: "Pašalinti";
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.woocommerce #content table.wishlist_table.cart a.remove:hover {
    background-color: transparent !important;
}
.wishlist_table .product-add-to-cart a.product_type_simple {
		color: transparent !important;
	position: relative;
}
 .wishlist_table .product-add-to-cart a.product_type_simple:after {
	content: "Į krepšelį";
	color: black;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}
.wishlist_table .product-add-to-cart a {
	color: black;
}
 .wishlist_table .product-add-to-cart a.button {
	border: 1px solid #4c0c13 !important;
	background: #4c0c13 !important;
 }
 .wishlist_table .product-add-to-cart a.product_type_simple:after {
	content: "Į krepšelį";
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
}

.woocommerce-wishlist.woocommerce table.shop_table td.product-name a {
	font-size: 1.2rem;
}

.wishlist_table.mobile li .item-wrapper .product-thumbnail {
	height: 260px;	
}

.wishlist_table.mobile .product-add-to-cart a {
margin: 0;
}

.wishlist_table.images_grid li .item-details table.item-details-table, .wishlist_table.mobile li .item-details table.item-details-table, .wishlist_table.mobile li table.additional-info, .wishlist_table.modern_grid li .item-details table.item-details-table {
	display: none;
}
.wishlist_table.mobile li .additional-info-wrapper .product-remove{
	display: block !important;
	text-align: left;
}

.single-prod-border .yith-wcwl-wishlistaddedbrowse a {
	height: 100px;
	display: block;
	position: absolute;
	width: 100px;
	top: 0;
}
