// @import url("fonts/style.css");


// @font-face {
//   font-family: "Milio";
//   src:url("fonts/MilioLight.eot");
//   src:url("fonts/MilioLight.eot?#iefix") format("embedded-opentype"),
//     url("fonts/MilioLight.woff") format("woff"),
//     url("fonts/MilioLight.ttf") format("truetype"),
//     url("fonts/MilioLight.svg#cm-weldon") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }


// font-family: 'Roboto Slab', serif !important; 
// font-family: 'Cormorant Garamond', serif !important;

// $font__main: 'Roboto', sans-serif;
// $font__main: 'Be Vietnam', sans-serif; - was this one
$font__main: "Milio" !important;
// $font__main: "neue-haas-grotesk-display";
// $font__heading : 'Cormorant Garamond', serif !important;
$font__heading : "Milio" !important;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

h1, 
h2,
h3,
h4,
h5,
h6 {
	// font-family: $font__heading;
}

h1 {
	font-size: 5.5rem;
}
h2 {
	font-size: 5rem;
}
h3 {
	font-size: 4.5rem;
}
h4 {
	font-size: 4rem;
}
h5 
{
	font-size: 3.5rem;
}
h6 {
	font-size: 3rem;
}
